.DS_Store
GPU/gpunfa-artifact-master/gpunfa_benchmarks
GPU/gpunfa-artifact-master/gpunfa_benchmarks.zip
GPU/gpunfa-artifact-master/raw_data
GPU/gpunfa-artifact-master/raw_data.zip
GPU/gpunfa-artifact-master